/*
--------------------CANDH GRIDS or (no BS grid)--------------------
Candh Grids V2.1
Created by Haider Ali Khichi in Pakistan.
Released under MIT License
Copyright - 2016, Candh Inc. // Haider Ali Khichi.
*/

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

hr {
    display: inline-block;
    height: 1px;
    width: 250px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1.3em 0;
    padding: 0;
}


/*==========================================
TYPOGRAPHY*/

a {
    color: #39c;
    text-decoration: none;
}

a:hover {
    color: #069;
}

body,
h1 {
    line-height: 1.25;
}

h1 {
    font-size: 2em;
}

@media (min-width:43.75em) {
    h1 {
        font-size: 2.5em;
        line-height: 1.125;
    }
}

@media (min-width:56.25em) {
    h1 {
        font-size: 3em;
        line-height: 1.05;
    }
}

h2 {
    font-size: 1.625em;
    line-height: 1.15384615;
}

@media (min-width:43.75em) {
    h2 {
        font-size: 2em;
        line-height: 1.25;
    }
}

@media (min-width:56.25em) {
    h2 {
        font-size: 2.25em;
        line-height: 1.25;
    }
}

h3 {
    font-size: 1.375em;
    line-height: 1.13636364;
}

@media (min-width:43.75em) {
    h3 {
        font-size: 1.5em;
        line-height: 1.25;
    }
}

h4 {
    font-size: 1.125em;
    line-height: 1.11111111;
}

body {
    font-size-adjust: .5;
    padding: 0;
    color: #494949;
    font-size: 1em;
    font-weight: 400;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width:43.75em) {
    h4 {
        line-height: 1.22222222;
    }
    body {
        font-size: 1em;
        line-height: 1.375;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 15px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.light {
    font-weight: 300;
}


/*==========================================
THE MAIN COLUMN AND CONTAINER*/

.candh {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


/*==========================================
WE MAKE IT RESPONSIVE*/

@media (min-width: 580px) {
    .candh {
        margin: 0;
    }
    .container {
        width: 80%;
        padding: 0;
    }
    /*==========================================
MAIN GRID*/
    .one.candh {
        width: 8.33333333%;
    }
    .two.candh {
        width: 16.66666666%;
    }
    .three.candh {
        width: 25%;
    }
    .four.candh {
        max-width: 33.33333333%;
    }
    .five.candh {
        width: 41.66666667%;
    }
    .six.candh {
        width: 50%;
    }
    .seven.candh {
        width: 58.333333333%;
    }
    .eight.candh {
        width: 66.66666666%;
    }
    .nine.candh {
        width: 75%;
    }
    .ten.candh {
        width: 83.33333333%;
    }
    .eleven.candh {
        width: 91.66666666%;
    }
    .twelve.candh {
        width: 100%;
        margin-left: 0;
    }
    /*==========================================
OFFSETS*/
    .push-by-one {
        margin-left: 8.33333333%;
    }
    .push-by-two {
        margin-left: 16.66666666%;
    }
    .push-by-three {
        margin-left: 25%;
    }
    .push-by-four {
        margin-left: 33.33333333%;
    }
    .push-by-five {
        margin-left: 41.66666667%;
    }
    .push-by-six {
        margin-left: 50%;
    }
    .push-by-seven {
        margin-left: 58.333333333%;
    }
    .push-by-eight {
        margin-left: 66.66666666%;
    }
    .push-by-nine {
        margin-left: 75%;
    }
    .push-by-ten {
        margin-left: 83.33333333%;
    }
    .push-by-eleven {
        margin-left: 91.66666666%;
    }
    .push-by-twelve {
        margin-left: 100%;
    }
}


/*==========================================
auto clearing*/

.row:after,
.candh:after {
    content: "";
    display: block;
    clear: both;
}


/*==========================================
THE INPUT THINGS AND TABLES*/

input,
button,
textarea,
select {
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button,
input[type=submit] {
    cursor: pointer;
}

input[type=text],
input[type=password] {
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #494949;
    padding: 10px 5px;
    font-size: 1em;
    padding: 10px 10px;
}

input[type=submit] {
    padding: 10px 10px;
    background: #3498db;
    border: 1px solid #3498db;
    font-weight: bold;
    border-radius: 3px;
    color: white;
}

input[type=submit]:hover {
    background: white;
    color: #2980b9;
}

input[type=submit]:active {
    background: #2980b9;
    color: white;
}

input[type=submit].danger {
    border: 1px solid #e74c3c;
    background: #e74c3c;
}

input[type=submit].danger:hover {
    background: white;
    color: #c0392b;
}

input[type=submit].danger:active {
    background: #c0392b;
    color: white;
}

button.filled {
    padding: 10px 10px;
    background: #3498db;
    border: 1px solid #3498db;
    font-weight: bold;
    border-radius: 3px;
    color: white;
}

button.filled:hover {
    background: white;
    color: #2980b9;
}

button.filled:active {
    background: #2980b9;
    color: white;
}

button.empty {
    padding: 10px 10px;
    background: white;
    border: 1px solid #3498db;
    font-weight: bold;
    border-radius: 3px;
    color: #3498db;
}

button.empty:hover {
    background: #3498db;
    color: white;
}

button.empty:active {
    background: #2980b9;
    color: white;
}

a.filled {
    font-size: 13px;
    text-decoration: none;
    padding: 10px 10px;
    background: #3498db;
    border: 1px solid #3498db;
    font-weight: bold;
    border-radius: 3px;
    color: white;
}

a.filled:hover {
    background: white;
    color: #2980b9;
}

a.filled:active {
    background: #2980b9;
    color: white;
}

textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

table {
    border-top: 1px solid #ccc;
    text-align: left;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ccc;
}

th,
td {
    padding: 5px;
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

blockquote {
    border-left: 5px solid #d3d3d3;
    padding: 20px;
    box-sizing: border-box;
}

blockquote p {
    margin: 0;
    padding: 0;
}


/*==========================================
HELPING CLASSES*/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.rp-image {
    max-width: 100%;
    display: block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}
