body, html {
    cursor: none;
    background: url('/images/bg.png') no-repeat center center;
}

#gun {
    position: absolute;
    z-index: 99;
}

.bullet {
    position: absolute;
    z-index: 9;
}

.bullet>img {
    width: 20px;
    opacity: 0.8;
}

.log {
    font-family: monospace;
    font-size: 8px;
}
